version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/python"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    assignees:
      - "helgelb"
    labels:
      - "dependencies"
      - "python"
